[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/solady"]
	path = packages/contracts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "packages/contracts/lib/v4-core"]
	path = packages/contracts/lib/v4-core
	url = https://github.com/Uniswap/v4-core.git
